<%= form_with(model: @comment, local: true) do |f| %>
  <%= render 'shared/error_message', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "投稿にコメントする？" %>
    <%= f.hidden_field :micropost_id, value: @micropost.id %>
  </div>
  
  <%= f.submit "コメントする", class: "btn btn-primary" %>
<% end %>