<li class="bg-light p-3 mb-2" id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="timestamp float-end">
    <%= time_ago_in_words(micropost.created_at) %>
  </span>
  
  <%= link_to micropost do%>
    <h3><%= micropost.content %></h3>
  <% end %>
  
  <% if micropost.image.attached? %>
    <%= image_tag micropost.image, class:"post-image" %>
  <% end %>
    
    <div class="d-flex justify-content-between align-items-center ps-1">
      <div id="like-form-<%= micropost.id %>">
        <% if micropost.liked_by?(current_user) %>
          <%= form_with(model: [micropost, micropost.likes.find_by(user_id: current_user.id)],
                        html: { method: :delete }) do |f| %>
            <%= button_tag type: "submit" do %>
              <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
            <% end %>
            <%= micropost.likes.count %>
          <% end %>
        <% else %>
          <%= form_with(model: [micropost, micropost.likes.build]) do |f| %>
            <div><%= hidden_field_tag :user_id, current_user.id %></div>
            <%= button_tag type: "submit" do %>
              <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
            <% end %>
            <%= micropost.likes.count %>
          <% end %>
        <% end %>
      </div>
      <% if current_user?(micropost.user) %>
      <div>
        <%= link_to "削除", micropost, data: { "turbo-method": :delete,
                                              turbo_confirm: "本当に削除しますか？" }, class:"text-danger" %>
      </div>
      <% end %>
    </div>
</li>
