<header class="navbar fixed-top navbar-light bg-light navbar-expand-lg">
  <div class="container">
    <%= link_to "Sample App", root_path, id: "logo", class:"navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム",  root_path ,class:"nav-link" %></li>
        <li><%= link_to "ヘルプ",  help_path ,class:"nav-link" %></li>
        <% if logged_in? %>
          <li><%= link_to "ユーザー一覧", users_path, class:"nav-link" %></li>
          <li class="dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              アカウント<b class="caret"></b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><%= link_to "プロフィール", current_user, class:"dropdown-item" %></li>
              <li><%= link_to "設定", edit_user_path(current_user), class:"dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, data: { "turbo-method": :delete }, class:"dropdown-item" %>
              </li>
            </ul>
          </li>
          <li>
          <%= link_to new_micropost_path do %>
            <button class="btn btn-primary">投稿作成</button>
          <% end %>
          </li>
        <% else %>
          <li>
          <%= link_to login_path do %>
            <button class="btn btn-primary">ログイン</button>
          <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>